html,body{
	width: 50%;
	height: 50%;
	margin: 0;
	padding: 0;
	background-color: #e5e5e5;
}
#container{
	width: 60%;
	margin: 0 auto;
	height: 100%;
	margin-top: 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
#container>div{
	position: relative;
	float: left;
	margin: 10px 10px 0 0;
} 
#container > div > img{
	display: block;
	transform: translateZ(0);
}
#container > div:hover{
	z-index: 1;
}

#container > div:hover >img{
	transform: scale(2,2);
	transition: transform .2s;
}