body{
	margin: 0px; 
	position: relative;
	background-size: auto;
	background: #FFF url(background-tu.png) no-repeat center top;
	background-attachment: fixed;
}
canvas{
	background: transparent;
}
div{
	border-radius: 10px;
}
#d_index{
	position: fixed;
	right: 5%;
	top:200px;
	width: 10%;
	background: #907874;
	z-index:1;
}
#d_main{
	position: relative;
	left: 5%;
	width:80%;
	background-color: transparent;
	opacity: 0.9;
}
#d_main>div{
	background-color: #927a75;
	opacity: 0.8;
	width:100%;
}
p>span{
	color:red;
}

#img_back{
	margin: 0;
	z-index: -1;
	position: fixed;
	width: auto;
	height: auto;
	opacity: 0.9;
}
#t_title{
	width: 500px
	height:30px;
	background-color: transparent;
	text-align: center;
	font-size: 500%;
	color: black;
}
#d_title{
	text-align: center;
}